// Global

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(:root) {
  font-size: 14px;
}

:global(body) {
  min-width: 20rem;
  padding: 2rem;

  background: $background;
  color: $foreground;
  font-size: 1rem;
  line-height: 1rem;
}

// Generic elements

:global(h1) {
  font-size: 1rem;
  font-weight: 600;
}

:global(h2) {
  font-size: 1.5rem;
  font-weight: 800;
}


:global(a) {
  color: $theme;
  transition: $trans-out;

  &:hover {
    color: $theme2;
    transition: $trans-in;
  }
}

:global(input) {
  width: 100%;
  font-size: 1rem;
}

:global(label) {
  opacity: 0.8;
  font-size: 0.8rem;
}

:global(input[type="text"]) {
  height: 3rem;

  background: transparent;

  color: $theme;
  border: none;
  border-bottom: 2px $theme solid;
  font-weight: 600;

  outline: none;
  transition: $trans-out;

  &:hover,
  &:focus {
    color: $theme2;
    border-color: $theme2;

    transition: $trans-in;
  }
}

:global(button),
:global(input[type="button"]),
:global(input[type="submit"]) {
  width: 100%;
  height: 3rem;

  background: $theme;
  color: $foreground-theme;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;

  cursor: pointer;
  transition: $trans-out;

  &:hover {
    background: $theme2;
    transition: $trans-in;
  }
}
