@use "sass:color";

$theme: #393e66ff;
$theme2: #fe6f27ff;
$background-base: #fff;
$foreground-base: #000;
$background: mix($background-base, $theme, 98%);
$foreground: mix($foreground-base, $theme, 80%);
$foreground-theme: #fff;
